<!DOCTYPE html>
<html  lang="ro">
    <head>
        <link rel="stylesheet" href="/resurse/css/reviste.css" type="text/css" />
        <%- include("../fragmente/head.ejs") %>     
        <script type="text/javascript" src=/resurse/js/reviste.js></script>
        <link href="/resurse/CSS/reviste.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
    <%- include("../fragmente/header.ejs") %>

    <main>
        
        <div class="filtre">
            <label> Look For: <input type="text" id="inp-nume"></label>
        <!--<label> Maxim calorii: <input type="number" id="inp-calorii" value="10000"></label>-->
        <div> Price (USD) <!-- trebuie sa aiba acelasi name ca sa formeze un grup -->
            <p><label> cresc
                <input id="i_rad1"  checked name="gr_rad" value="1" type="radio"/>
            </label></p>
            <p><label> descresc
                <input id="i_rad2"  name="gr_rad" value="-1" type="radio"/>
            </label>
        </div>


        <label style="display: none;"> Minimum Price <input type="range" id="inp-pret" value="0" min="0"  max="40" step="5"> <span id="infoRange">(0)</span></label>
        <p><br>
            <label>Select
                <select id="inp-categorie">
                    <option id="sel-toate" selected value="toate">all</option>
                    <% for (let opt of locals.optiuni) { %>
                        <option value="<%- opt.unnest %>"><%- opt.unnest %> </option>
                    <% } %>
                </select>
            </label>
        </p><br>
        <p>
        <button id="filtrare" class="butonfiltru">Filter</button> 
        <button id="resetare" class="butonfiltru">Reset</button><br/>
        <button id="sorteaza" class="butonfiltru">Sorteaza</button><br>
        
        </p>
        
        <p id="p-suma">Press Alt+"c" for the price of the products </p>
        </div>
        <section id="produse">
            <div class="grid-produse">
                <% for( let prod of locals.reviste) { %>
                    <div>
                        <article class="revista" >
                            <h2 class="title" style="font-style:italic; text-decoration: underline;">Titlu: <span class="val-nume"><%- prod.titlu%> (nr pagini: <%- prod.nrpagini%>) </span></h2>
                           
                            <p class="price">Pret: <span class="val-pret"><%- prod.pret%></span></p>
                            <p class="aparitie">Aparitie: <span class="val-info"><%- prod.aparitie%></span></p>
                            <p class="nrpagini" style="display: none;">Nr pagini: <span class="val-nrpagini"><%- prod.nrpagini%></span></p>
                            <p>Tematici: </p>
                            <ul>
                                <li><%- prod.tematici  %></li>
                            </ul>
                        </article>
                    </div>
                <% }%>
            </div>
        </section>
    </main>

    <%- include("../fragmente/footer.ejs") %>
    </body>
</html>